
  .main-nav {
    display: flex;
    background: orangered;
    color: white;
    border-radius: 3px;
    padding: 1em;
    font-family: sans-serif;
  }

  .main-nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 3;
  }

  .main-nav li {
    margin-right: 1em;
  }
  
  .main-nav > form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  .main-nav input {
    flex: 1;
  }

  .Dropdown{
    background-color: darkblue;
  }
  .Random {
  background-color: red;
}
  /* .button {
    background: white;
    border: 0;
    border-radius: 1em;
    color: orangered;
    padding: 0 1em;
    margin-left: .3em;
  } */

  .Harrison{
    background-color: aqua;
  }
  .Header {
    background-color: hotpink;
    flex-direction: row; 
    margin-bottom: 1em;
  }

  .Footer {
    background-color: fuchsia;
  }

  /* @media screen and (max-width: 575px) {
   .main-nav {
     flex-direction: column;
   }
   
  
  .main-nav ul {
  flex-direction: row; Change this to 'column' to stack the links */
  /* margin-bottom: 1em;
 
/* 
  <ul>
    <li>Logo</li>
    <li>Home</li>
    <li>Products</li>
    <li>Services</li>
  </ul> */
  /* <form>
    <input type="search" placeholder="Search">
    <button>Go</button>
  </form>
</nav> */


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  background-color: #61dafb;
}

.Footer {
  background-color: red;
}

.Dropdown {
  background-color:darkolivegreen;
}

.Harrison {
  background-color: #61dafb;
}


.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
